* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    font-family: 'Titillium Web', sans-serif; 
    height: 100vh;
    background-color: #141922;
    color: white;
}

#wrapper {
    height: calc(100% - 70px);
}

a { text-decoration: none; }

/********************* NAV *********************/
nav {
    width: 12rem;
}

#nav-logo {
    width: 40%;
}

.nav-item {
    width: 1.3em;
}

.fa-square-plus { font-size: 2em; }

#playlist-scroll { overflow: scroll; }

.playlist-name { 
    display: block; 
    font-size: 0.83em;
}



/********************* MAIN *********************/
main {
    height: calc(100% - 70px);
}

#premium {
    height: 70px;
}

#premium-btn {
    padding: 0.6em 4em;
    border: solid white 0.1em;
    border-radius: 50px;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
}

/********************* FOOTER *********************/
footer {
    height: 70px;
}

#footer-img {
    height: 50%;
    object-fit: cover;
}

#time-bar {
    height: 0.2em;
    width: 21.4rem;
    background: linear-gradient(0.25turn, rgba(193, 193, 193, 1) 20%, rgba(90, 90, 90, 1) 20%);
    margin: 0 1.2em;
}


#volume {
    height: 0.2em;
    width: 5.9rem;
    background: linear-gradient(0.25turn, rgba(193, 193, 193, 1) 30%, rgba(90, 90, 90, 1) 30%);
}